<div
  class="container"
  style="background-color: #1a1a1a; color: #ffffff; border-radius: 12px;"
>
  {{#each postData}}
    <div
      class="card"
      style="background-color: #333333; color: #ffffff; border: none;"
    >
      <div
        class="card-header"
        style="background-color: #444444; color: #ffffff;"
      >
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        <a href="/post/{{id}}" style="color: #ffffff;">Read More...</a>
      </div>
      <div class="card-footer" style="background-color: #444444;">
        <p class="card-text">
          <strong>Created by:</strong>
          {{user.username}}
          <strong>Created on:</strong>
          {{format_date createdAt}}
        </p>
      </div>
    </div>
  {{/each}}
</div>